@font-face {
  font-family: "NotoSans";
  src: url("/fonts/NotoSans-Bold.ttf") format("truetype")
}

@font-face {
  font-family: "FiraSans";
  src: url("/fonts/FiraSans-Regular.ttf") format("truetype")
}

@font-face {
  font-family: "FiraMono";
  src: url("/fonts/FiraMono-Regular.ttf") format("truetype")
}

